{% extends "base.html" %}

{% block 'title' %}
Tags
{% endblock %}

{% block 'main' %}
    <div class = "container">
        {% for row in tags %}
            <div class = "row">
                {% for tag in row %}
                    <div class = "col">
                        <a class = "btn btn-sm btn-link" href = "{% url 'repo_tag_view' tag.id %}"> {{ tag.human_name }} </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
