{% extends "base.html" %}

{% load static %}

{% block 'title' %}
Início
{% endblock %}

{% block 'main' %}
<div class = "container">

    <h1 class = "text-center">Repo-Code</h1>

    <p class = "text-center">
        Encontre um código que resolve um problema específico rapidamente.
    </p>

    <form id = "searchForm" action = "{% url 'repo_search_by_keys' %}" autocomplete = "off">

        <div class = "form-group">
            <label> Título </label>
            <input name = "title" class = "form-control" placeholder = "título do código">
        </div>

        <div class="form-group">
            <label>Filtro no texto</label>
            <textarea name = "filterText" class = "form-control" placeholder = "digite aqui as palavras para filtrar por descrição"></textarea>
        </div>

        <div class="row">
            <div class = "col">
                <div class = "form-group">
                    <label> Tags candidatas </label>
                    <input type = "text" id = "filterSelectTags" class = "form-control form-control-sm">
                    <select id = "candidateTags" class = "form-control" multiple>
                        {% for tag in tags %}
                            <option value = "{{tag.id}}">{{tag.human_name}}</option>
                        {% endfor %}
                    </select>
                </div>    
            </div>
            <div class = "col-auto">
                <div class = "d-flex flex-column align-items-center">
                    <button type = "button" id = "selectRight" class = "btn btn-secondary btn-sm"> 
                        &rarr;
                    </button>
                    <button type = "button" id = "selectLeft" class = "btn btn-secondary btn-sm"> 
                        &larr;
                    </button>
                    <div class="form-check">
                      <input class = "form-check-input" type="radio" name = "logicTag" value = "OR">
                      <label class = "form-check-label">
                        OR
                      </label>
                    </div>
                    <div class="form-check">
                      <input class = "form-check-input" type="radio" name = "logicTag" value = "AND" checked>
                      <label class = "form-check-label">
                        AND
                      </label>
                    </div>
                </div>
            </div>
            <div class = "col">
                <div class = "form-group">
                    <label> Tags Escolhidas </label>
                    <select id = "chosenTags" name = "tags" class = "form-control" multiple>
                        
                    </select>
                </div>    
            </div>
        </div>
        <div class = "text-end">
                        <button type = "button" id = "selectReset" class = "btn btn-secondary btn-sm"> reset </button>
                    </div>

        <div class = "form-group">
            <label> Linguagem </label>
            <select name = "language" class="form-control form-select form-select-sm" >
	            <option value = "-1"> N/A </option>
                {% for lang, hu_lang in languages %}
                    <option value = "{{lang}}"> {{hu_lang}} </option>
                {% endfor %}
            </select>
        </div>

        <div class = "row">
            <div class = "col">
                <div class = "form-group">
                    <label> Adicionado desde </label>
                    <input class = "form-control" type = "date" name = "fromDate" value = "0001-01-01">
                </div>
            </div>
            <div class = "col">
                <div class = "form-group">
                    <label> Adicionado até </label>
                    <input class = "form-control" type = "date" name = "toDate" value = "{{max_to_date}}">
                </div>
            </div>
        </div>
        <br>
        <div class="text-end">
            <button type = "submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </form>
</div>

<script type = "text/javascript">

$("#selectReset").on("click", function(e) {
    let chosenTags = $("#chosenTags");
    let candidateTags = $("#candidateTags");

    let chosenOptions = $(chosenTags).children();

    for(let option of chosenOptions) {
        let outerHTML = $(option).prop("outerHTML");
        $(candidateTags).append(outerHTML);
        option.remove();
    }
});

$("#filterSelectTags").on("keyup", function() {
    let text = $(this).prop("value").toLowerCase();
    
    let options = $("#candidateTags").children();

    for(let option of options) {
        let textOption = $(option).prop("innerHTML").toLowerCase();
        if(textOption.startsWith(text)) $(option).show();
        else $(option).hide();
    }
});

$("#selectLeft").on("click", function() {
    let options = $("#chosenTags").prop("selectedOptions");
    let candidateTags = $("#candidateTags");

    for(let option of options) {
        let outerHTML = $(option).prop("outerHTML");
        candidateTags.append(outerHTML);
    }

    for(let i = options.length - 1; i >= 0; --i) options[i].remove();
});

$("#selectRight").on("click", function() {
    let options = $("#candidateTags").prop("selectedOptions");
    let chosenTags = $("#chosenTags");

    for(let option of options) {
        let outerHTML = $(option).prop("outerHTML");
        let tag = $(outerHTML);
        tag.attr("selected", true);
        chosenTags.append(tag);
    }

    for(let i = options.length - 1; i >= 0; --i) options[i].remove();
});

$("#searchForm").on("submit", function() {
    let options = $("#chosenTags").children();
    for(let option of options)
        option.selected = true;
});

</script>
{% endblock %}
