{% extends "base.html" %}
{% load static %}

{% block 'title' %}
repo-code
{% endblock %}

{% block 'scripts' %}
<script src = "{% static 'js/codemirror/lib/codemirror.js' %}"></script>
<script src = "{% static 'js/codemirror/mode/javascript/javascript.js' %}"></script>
<script src = "{% static 'js/codemirror/addon/selection/active-line.js' %}"></script>
<script src = "{% static 'js/codemirror/addon/edit/matchbrackets.js' %}"></script>
<script src = "{% static 'js/codemirror/mode/clike/clike.js' %}"></script>
<script src = "{% static 'js/codemirror/mode/python/python.js' %}"></script>
<script src = "{% static 'js/codemirror/mode/javascript/javascript.js' %}"></script>
<script src = "{% static 'js/codemirror/addon/hint/show-hint.js' %}"></script>
<script src = "{% static 'js/codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
{% endblock %}

{% block 'css' %}
<link href = "{% static 'js/codemirror/lib/codemirror.css' %}" rel="stylesheet">
<link href = "{% static 'js/codemirror/addon/hint/show-hint.css' %}" rel="stylesheet">

{% for css in css_files %}
    <link href = "{% static css %}" rel = "stylesheet">
{% endfor %}

{% endblock %}

{% block 'main' %}

<div class="modal fade" id="modalDelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Exclusão </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label = "Close"></button>
             </div>
            <div class="modal-body">
                Tem certeza que deseja excluir pernamentemente este código?
            </div>
            <div class="modal-footer">
                <form method = "POST" action = "{% url 'repo_code_delete' source.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" type = "submit">Excluir </a>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUpdate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" {% if request.session.backgroundTheme == 'on' %}style="color:black"{% endif %}> Ação </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label = "Close"></button>
             </div>
            <div class="modal-body" {% if request.session.backgroundTheme == 'on' %}style="color:black"{% endif %}>
                Tem certeza que deseja salvar esses dados pernamentemente?
            </div>
            <div class="modal-footer">
                <button id = "btnSubmitForm" class="btn btn-primary" type = "submit">Salvar </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class = "container">
    <h1 class = "text-center">{{source.title}}</h1>
    <p class = "text-center">altere aqui o seu código e a sua descrição</p>
    <form id = "updateForm" method = "post" autocomplete = "off" action = "{% url 'repo_code_update' source.id %}">
        {% csrf_token %}
        <div class = "row">
            <div class = "col">
                <div class = "form-group">
                    <label> Título </label>
                    <input class = "form-control" name = "title" value = "{{source.title}}">
                </div>
            </div>
            <div class = "col">
                <div class = "form-group">
                    <label> Original </label>
                    <input name = "original" class = "form-control" value = "{{source.original}}">
                </div>
            </div>
        </div>
        <hr>
        <div class = "form-group">
            <label> Descrição </label>
            <textarea class = "fix-theme" id = "description" class = "form-control" name = "description" rows = "25">{{source.description.strip}}</textarea>
        </div>
        <hr>
        <div class = "form-group">
            <label> Tags </label>
            <select name = "tags" class = "form-control" multiple>
                {% for tag in tags %}
                    {% if tag.id in tags_id %}
                        <option class = "fix-theme" value = "{{tag.id}}" selected> {{tag.human_name}} </option>
                    {% else %}
                        <option class = "fix-theme" value = "{{tag.id}}"> {{tag.human_name}} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <hr>
        <div class = "row">
            <div class = "col text-start">
                <a href = "{% url 'repo_code_view' source.id %}" class = "btn btn-success"> &larr; voltar</a>
            </div>
            <div class = "col text-end">
                <a role = "button" class = "btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUpdate"> submeter </a>
                <a role = "button" class = "btn btn-danger" href = "#" data-bs-toggle="modal" data-bs-target="#modalDelete"> deletar </a>
                <a class = "btn btn-secondary" href = "{% url 'repo_code_update' source.id %}"> cancelar </a>
            </div>
        </div>
    </form>
</div>

<script type = "text/javascript">
    let cmDescription = CodeMirror.fromTextArea(document.getElementById("description"), {
          lineNumbers: true,
          styleActiveLine: true,
          mode: "text/html",
          lineWrapping: false,
          matchBrackets: true
    });

    $("#btnSubmitForm").on("click", () => $("#updateForm").submit());
</script>

{% endblock %}
